root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,mjs,cjs,ts,jsx,tsx}]
indent_style = space
indent_size = 4
max_line_length = 120

[*.sh]
indent_style = unset
indent_size = 2

[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

[*.{json,yml,yaml}]
indent_style = space
indent_size = 2

[*.min.*]
max_line_length = off
indent_style = unset
indent_size = unset
insert_final_newline = false
